@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Poiret+One&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: montserrat, sans-serif;
    font-weight: 300px;
    color: #353838;
    max-width: 2000px;
}

/* headings and logo */

h1,
h2 {
    font-family: poiret one, cursive;
    letter-spacing: 1px;
    color: #4d4044;
}

#logo {
    float: left;
    font-size: 300%;
    width: 60%;
}

/* navigation links */
#main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu {
    font-size: 120%;
    letter-spacing: 1px;
    justify-content: space-between;
    display: flex;
    list-style-type: none;
    width: 40%;
    align-items: center;
}

#menu a {
    text-decoration: none;
    color: #4d4044
}

#menu a:hover {
    border-bottom: 1px solid peachpuff;
    border-top: 1px solid peachpuff;
    background-color: rgba(224, 159, 142, 0.1);
}

.active {
    background-color: rgba(224, 159, 142, 0.1);
}

#logo,
#menu {
    line-height: 75px;
}

/* hero image */

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.jpeg') no-repeat center center;
    background-size: cover;
    max-width: 2000px;
    position: relative;
}

/* cover text on front page */

#cover-text,
#cover-text h2 {
    color: #4d4044;
    text-shadow: #353838;
    font-family: poiret one, cursive;
}

#cover-text-outer {
    width: 400px;
    height: 100%;
    overflow: hidden;
}

#cover-text {
    font-size: 110%;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;

    background-color: rgba(255, 218, 185, 0.5);
    width: 400px;
    height: 100px;
    padding-top: 50px;
    padding-left: 10px;

    position: absolute;
    top: 150px;
    right: 150px;
    border-radius: 50%;

    /* animation zoom effect on loading the page */
    animation-name: cover-text-zoom;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

/* zoom effect for cover-text */
@keyframes cover-text-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}
