@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Poiret+One&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: montserrat, sans-serif;
    font-weight: 300px;
    color: #353838;
}

/* headings and logo */

h1,
h2 {
    font-family: poiret one, cursive;
    letter-spacing: 1px;
    color: #4d4044;
}

#logo {
    float: left;
    font-size: 300%;
    width: 57%;
    margin-left: 20px;
}

/* navigation links */
#main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu {
    font-size: 120%;
    letter-spacing: 1px;
    justify-content: space-between;
    display: flex;
    list-style-type: none;
    width: 40%;
    align-items: center;
}

#menu a {
    text-decoration: none;
    color: #4d4044
}

#menu a:hover {
    border-bottom: 1px solid peachpuff;
    border-top: 1px solid peachpuff;
    background-color: rgba(224, 159, 142, 0.1);
}

.active {
    background-color: rgba(224, 159, 142, 0.1);
}

#logo,
#menu {
    line-height: 75px;
}

/* hero image */

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.jpeg') no-repeat center center;
    background-size: cover;
    max-width: 2000px;
}

/* cover text on front page */

#outer {
    position: relative;
}

#cover-text h2 {
    color: #4d4044;
    text-shadow: #353838;
    font-family: poiret one, cursive;
}

/*
#cover-text-outer {
    width: 400px;
    height: 100%;
    overflow: hidden;
}
*/

#cover-text {
    font-size: 110%;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;

    background-color: rgba(255, 218, 185, 0.5);
    width: 400px;
    height: 100px;
    padding-top: 50px;
    padding-left: 10px;

    position: absolute;
    top: 175px;
    right: 110px;
    border-radius: 50%;

    /* animation zoom effect on loading the page */
    animation-name: cover-text-zoom;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

/* zoom effect for cover-text */
@keyframes cover-text-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

/* about us, our aim */

#our-passion {
    height: 300px;
    padding: 40px 90px;
    text-align: center;
    letter-spacing: 2px;

}

#our-passion h1 {
    color: #4d4044;
    text-shadow: #353838;
    font-family: poiret one, cursive;
    font-size: 300%;
    padding-top: 40px;
    letter-spacing: 2px;
}

#our-passion p {
    padding-top: 40px;
}

/* shell star image above waves */

#shell-star-image {
    height: 600px;
    width: 100%;
    background: url('../images/above-footer-section.jpeg') no-repeat center center;
    background-size: cover;
    overflow: hidden;
}

/* waves animation; idea from https://freefrontend.com/css-hero-effects/ and snippet started from; https://codepen.io/KrzysiekF/pen/oNNLwZq */
/*
.ocean {
    position: relative;
  
}

:root {
    --color: rgba(0, 206, 209, 0.2)
    ;
  }

.waves {
    position: absolute;
    top: -200;
    bottom: 0;
    left: 0;
    right: 0;
    height: 200px;
    background-color: var(--color);
    box-shadow: inset 0 0 50 rgba(10, 57, 132, 0.2);
    transition: 500ms;
  }
  
  .waves::before,
  .waves::after {
    content: '';
    position: absolute;
    width: 300vw;
    height: 300vw;
    top: -65vw;
    left: 50%;
    transform: translate(-50%, -75%);
  }
  
  .waves::before {
    border-radius: 44%;
    background: rgba(10, 57, 132, 0.1);
    animation: waves 8s linear infinite;
  }
  
  .waves::after {
    border-radius: 44%;
    background: rgba(10, 57, 132, 0.1);
    animation: waves 15s linear infinite;
  }
  
  @keyframes waves {
    0% {
      transform: translate(-50%, -75%) rotate(0deg);
    }
    
    100% {
      transform: translate(-50%, -75%) rotate(360deg);
    }
  }
  */