@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Poiret+One&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: montserrat, sans-serif;
    font-weight: 300px;
    color: #353838;
}

/*  headings and logo */

h1, h2 {
    font-family: poiret one, cursive;
    letter-spacing: 1px;
    color: #4d4044;
}

#logo {
    float: left;
    font-size: 300%;

}